<div class="span12">
  <div class="group">
    <%= link_to("New group", new_group_path, :class => "btn btn-mini btn-primary pull-right") %>
  </div>
  <table class="table">
    <thead>
     <tr>
       <td> # </td>
       <td> Title </td>
       <td> Description </td>
       <td> Owner </td>
     </tr>
    </thead>
  
    <tbody>
      <% @groups.each do |group| %>
      <tr>
        <td> # </td>
        <td> <%= link_to(truncate(group.title, :length => 17), group_path(group)) %> </td>
        <td> <%= group.description %> </td>
        <td> <%= group.owner.name %> </td>
        <td> <%= render_group_editable_action(group) %> 
             <%= render_group_deletable_action(group) %> 
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
   
